@use "components";
*{
	font-family: 'Roboto Condensed', sans-serif;
}

html, body{
	background-color: #222f3e;
}

h1,h2,h3{
	font-weight: bold !important;
}

.menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top:2rem;
	margin-bottom: 2rem;
	span,a,li{
		font-size:2rem;
		color:components.$color-header;
		text-decoration: none;
	}
}

.header{
	margin-bottom: 10rem;
	margin-top: 3.5rem;
	color:components.$color-text;
	p{
		font-size: 4rem;
		font-weight: bold;
	}
}

.projects{
	margin-bottom: 3.5rem;
	margin-top: 3.5rem;

	img{
		opacity: 0.5;
		max-width: 32rem;
        margin: 0;
        padding: 0;
        transition: 0.5s;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
		margin: 1rem;

		&:hover{
			opacity: 1;
		}
	}
}


.footer{
	margin-bottom: 3rem;
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
	color:components.$color-text;
	a{
		text-decoration: none;
		margin-right: 1rem;
	}
}

.back{
	margin-bottom: 3rem;
}

.container{
	.about{
		color:components.$color-text;
		.about-me{
			h2{
				font-size: 4rem;
			}
			p{
				font-size: 1.5rem;
			}
			margin-bottom: 3rem;
		}
		.skills{
			.icon-skill{
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				span{
					width: 115px;
					height: 115px;
				}

			}
		}
	}
}



@media (max-width: 768px) {

	.projects {
		justify-content: center;
		align-items: center;
	    img {
	        width: 20rem;
			}
	    }
	
	.menu{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		.main-menu{
			ul{
				li{
				display: block;
				margin-left:0;
				}
			}	
		}
	}

	.header{
		
		p{
			font-size: 2rem;
			font-weight: bold;
		}
	}

	.footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		div{
			margin: 0.5rem;
		}
	}

	.about{
		.about-me{
		
		}
		.skills{
		
			.icon-skill{
				
			}
		}
	}
}